@if (product) {

<section class="shadow w-75 rounded-3 mx-auto my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img class="w-100" [src]="product.imageCover" [alt]="product.title" />
    </div>
    <div class="col-md-6">
      <div>
        <h4>product Name : {{ product.title }}</h4>
        <h4>product Type : {{ product.slug }}</h4>
        <h4>product price : {{ product.price }}</h4>
        <h4>product quantity : {{ product.quantity }}</h4>
        <h4>product brand : {{ product.brand.name }}</h4>
        <h4>product category : {{ product.category.name }}</h4>
      </div>
    </div>
  </div>
</section>
}
